<div class="main">
	<div class="header">
		<h1>Richard Race's Site<h2>
	</div>
	<div class="navigation">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
	<div class="content">
		<h3>Hello!</h3>
		<p>This is going to a site that details some of the work I've done. Weather it is a University project, or something I just messed around with.</p>
		<p>Currently, I'm working on this site in my spare time away from Uni work. If you want to look at some of the work I do, check out my GitHub account: <a href="http://github.com/richrace" target="_new">http://github.com/richrace</a>
	</div>
</div>
<div class="footer">
	<p>Copyright © 2012 Richard Race</p>
</div>