<% @title="About" %>

<h2><%= @title %></h2>

<p>Hi, I'm Richard Race and I'm currently in my final year at Aberystwyth University. I study Software Engineering (MEng).</p>

<p>This site is more based around the work I do rather than my life. So, to give you a little bit of an idea, my main hobby is skiing. But at the moment I can't as I dislocated my shoulder, so I'm concentrating on this site instead!</p>